@import "tailwindcss";

@theme {
  --color-light-blue: #62bcfa;
  --color-blue: #4661e6;
  --color-dark-blue: #3a4374;
  --color-very-dark-blue: #373f68;
  --color-very-light-blue-gray: #f7f8fd;
  --color-light-blue-gray: #f2f4ff;
  --color-blue-gray: #647196;
  --color-purple: #ad1fea;
  --color-orange: #f49f85;
}
